*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  font-family: 'Poppins', sans-serif;
}


html{
  font-size: 100%
}

body{
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  background-color: black;
  color: white;

}


}

.logo:hover{
    transform: scale(1.1);
}

nav a{
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
    margin-left: 4rem;
    transition: 0.3s ease;

}

